<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1682017155/pexels-shelagh-murphy-1666816_xqohrz.jpg);">
  <div class="container">
    <%= cl_image_tag @photo.photo.key, height: 300, width: 400, crop: :fill %>
    <h1 id="lookalike-title"><%= @response[0]["name"] %></h1>
    <p>Top 3 closest lookalikes</p>
    <p><%= @response[1]["name"] %></p>
    <p><%= @response[2]["name"] %></p>
    <p><%= @response[3]["name"] %></p>
  </div>
</div>
